<div class="header">
<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="https://careerportaltest.happiestminds.com/assets/images/logo.png">
    <img src="/assets/images/logo.png" alt="Happiest Minds Logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="home">Home</a>
      </li>
    
      <li class="nav-item">
        <a class="nav-link" routerLink="currentopenings">CurrentOpenings</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" routerLink="benefits">Benefits</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="lifeatwork">Life@Work</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="advantages">Advantages</a>
      </li>
     
    </ul>
  
  </div>
</nav>
</div>
<router-outlet></router-outlet>

<div id="footer"> 
 
  
  <section id="resources"> 
      <h2>Resources</h2> 
      <div id="modules"> 
          <h2>Resources</h2> 
          <div class="module"> 
              <h3>Information</h3> 
          
              <ul> 
                
                  <li><a href="">Company Website</a></li> <br>

                  <li><a href="">About Happiest Minds</a></li> <br>

                  <li><a href="">Terms and Conditions</a></li> <br>

                  <li><a href="">Privacy Policy</a></li> 
               
              </ul> 
          
          </div> 
          <div class="module"> 
              <h3>Address</h3> 
              <ul> 
                  <li>Happiest Minds Technologies Limited <br>
                  SMILES 2,3&4 <br
                  ></li> <br>

                  <li>Registered Office:<br>
                  #53/1-4,Hosur Main Road,Madivala<br>
                  (Next To Madivala Police Station)<br>
                   Bengaluru-560068,Karnataka,India</li> <br>

                  <li>Other Office Locations</li> 
                 
              </ul> 
          </div> 
          <div class="module"> 
              <h3>Follow Us</h3> 
               <ul>  
                  <li class="facebook"><a href=""></a></li> 
                  <li class="linkedin"><a href=""></a></li> 
                  <li class="twitter"><a href=""></a></li> 
                  <li class="youtube"><a href=""></a></li> 
                  <li class="instagram"><a href=""></a></li> 
              </ul>  
          </div> 
          <div class="module"> 
              <h3>Contact</h3> 
              <p>peoplepositions@happiestminds.com<br><br>
                 Call us on<br>
                +918061960300<br>
                 +918061960400<br><br>
                  Fax<br>
                  +918061960700</p> 
              <!-- <ul> 
                  <li>Company street 123</li> 
                  <li>123 45 City, Country</li> 
              </ul>  -->
          </div> 
      </div> 
  </section> <hr>
  <div id="signature" aria-hidden="true"></div> 
  <footer id="legal"> 
      <h3>&copy; Happiest Minds 2022! All Rights Reserved</h3> 
  </footer> 
</div> 

